@font-face {
    font-family: '87MMILSANG-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201@1.0/87MMILSANG-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.hidden {
    display: none;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;;
    font-size: 18px;
}

header {
    background-color: #009579;
    border: 1px solid #009579;
    height: 50px;
}

.nav > .cropped img{
    margin: -40px 0 -50px 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #ffffff;
    color:#222222;
    font-size: 12px;
    /* padding: 2px 3px 2px 3px; */
}

.nav > div{
    background-color:#ffffff;
    /* border: 1px solid #222222; */
}
.nav__link {
    display: block;
    padding: 0px 18px;
    text-decoration: none;
    color: #222222;
    font-weight: 500;
}

.nav__link:hover {
    color:#009579;
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

.set_wrapper {
    margin-bottom: .5em;
}

.page_link > a{
    padding: 0 0 18px 18px;
}

.set_name {
    font-weight: bold;
}
